@page
@using MiniTwitterWebApp.Services
@inject IProfileService ProfileService
@inject SignInManager<IdentityUser> SignInManager
@model MiniTwitterWebApp.Areas.Identity.Pages.Profile.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Profile)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            var currentProfile = await ProfileService.FindProfileWithUserName(User.Identity.Name);

                            @if (currentProfile.Id == item.Id)
                            {
                                <a>This is you</a>
                            }
                            else if (await ProfileService.DoesProfileFollowOther(currentProfile.Id, item.Id))
                            {
                                <form asp-page-handler="unfollow" method="post">
                                    <button class="btn btn-default">Unfollow</button>
                                    <input type="hidden" name="profileAId" value="@currentProfile.Id" />
                                    <input type="hidden" name="profileBId" value="@item.Id" />
                                </form>
                            }
                            else
                            {
                                <form asp-page-handler="follow" method="post">
                                    <button class="btn btn-default">Follow</button>
                                    <input type="hidden" name="profileAId" value="@currentProfile.Id" />
                                    <input type="hidden" name="profileBId" value="@item.Id" />
                                </form>
                            }
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
